# Cocos Creator 3D Project
library/
temp/
local/
profiles/
native/
settings/

# Build các platform khác (CHỈ giữ web-desktop)
build/web-mobile/
build/android/
build/ios/
build/windows/
build/mac/

# NPM
node_modules/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# System Files
.DS_Store
Thumbs.db
desktop.ini

# Temporary Files
*.tmp
*.log
*.lock